// color palete
$green: #63d2b3;
$green-light: #65d261;
$blue: #3273dc;
$blue-light: #3f9dee;
$yellow: #f7c33f;
$yellow-light: #fbdb57; // #ffdd88
$red: #ea445f;
$red-light: #ed725d;
$purple: #9c42b7;

// gray scale
$black: #121212;
$black-ter: #242424;
$gray-darker: #363636;
$gray-dark: #4a4a4a;
$gray: #787878;
$gray-light: #b5b5b5;
$gray-lighter: #dbdbdb;
$white-ter: #f5f5f5;
$white: #ffffff;

// font-color setting
$font-color-primary: $gray-dark;
$font-color-link: $blue;

// color setting
$primary: $red;
